DATABASE_CLIENT=mysql2
DATABASE_HOST=localhost
DATABASE_NAME=strapi_deg_local
DATABASE_USERNAME=root
DATABASE_PORT=3306
DATABASE_PASSWORD=root
DATABASE_SSL=false
NODE_ENV=development




HOST=0.0.0.0
PORT=1337
APP_KEYS=S+lCdIXKCRRrfH/hUM2MhA==,KjrZBwPkKH88Ctin1EuJFg==,JIlzvy8Tvv0n7I2mvktnSw==,XeHVTV6N3Y9DxgSXHPFQJA==
API_TOKEN_SALT=hMGgpIzcnGuRlV+YX5y/Sw==
ADMIN_JWT_SECRET=XbXs9tbnIxrq2xTUbE63MQ==
TRANSFER_TOKEN_SALT=ru1uiUdeJ7NG5cGZR3lY0A==
# Database

# @strapi-community/dockerize variables 





# @strapi-community/dockerize end variables 
JWT_SECRET=G7OQ6Y4fNPetesHZhQC71Q==


# @beckn-bpp-adapter plugin variables
COMMERCE='dsep:courses,dsep:jobs,dsep:scholarships,nic2004:52110,dhp:pharmacy:0.1.0,supply-chain-services:assembly,online-dispute-resolution:0.1.0,uei:charging,hospitality,tourism,mobility:1.1.0,dragon_foods,skyanalytics_flow,envirogrowth,harmoniaid,state_forest_department,earth_support_initiative,deg:retail,deg:rental,deg:ev,deg:schemes'
APPOINTMENT='dhp:consultation:0.1.0,dhp:diagnostics:0.1.0,dhp:pharmacy:0.1.0,dsep:mentoring'

# Keep this value false in production

SYNC_RESPONSE=false
PROTOCOL_SERVER_URL="http://localhost:6001"

BPP_ID="bpp-network"
BPP_URI="http://bpp-network:6002"


BPP_ADAPTER_PLUGIN_URL="http://127.0.0.1:1337/beckn-bpp-adapter"
STRAPI_BPP_URL="http://127.0.0.1:1337"

BECKN_GEMINI_AI_URL="http://127.0.0.1:3000"

#VC ISSUER
ISSUER_URL=
VERIFY_CRED_URL=
#MDM
MDM_URL="https://mock-mdm.becknprotocol.io/beckn-mdm"

#MAIL



OPEN_AI_KEY="Your Open AI API Key"
STRAPI_URL="http://127.0.0.1:1337"
BECKN_ENV="LOCAL"

WORLD_ENGINE_URL="https://playground.becknprotocol.io/meter-data-simulator"